.pagina{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
    padding: 0 20px;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}