* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-pag {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(110, 47, 161);
}

.container {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.carrito {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.lista {
  font-size: 1.25rem;
}

span {
  font-size: 1.25rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.gretting {
  margin: 20px;
  text-align: center;
}
